@import '~antd/dist/antd.css';

.App {
  text-align: center;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 20px;
}

#page {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  background: #f3f6fcfe;
}

#head {
  background: #343A40;
  padding-left: 40px;
  height: 8vh;
}

#head h4 {
  margin: 0;
  color: #4c7ac5;
  font-size: 100%;
}

#head h2 {
  margin: 0;
  color: #14d45e;
  text-shadow: -0.15rem 0.07em #4482e7;
  font-size: 200%;
}

#menu {
  background: #343A40;
  height: 92vh;
  /* width: 43.5%; */
}

#app {
  height: 92vh;
  width: 100%;
  padding: 0px 5% 0px 5%;
  overflow-y: scroll;
}

.myInfo{
  color: #fff !important;
  font-weight: bold;
  font-size: 150%;
} 

.title{
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  color:#174ea7;
  font-family: fantasy;
  text-shadow: -0.13rem 0.06em #10a74a ;
}

.sub-title{
  text-decoration: overline;
  text-align: left;
  margin-bottom: 30px;
  color:#174ea7;
  font-family: fantasy;
  text-indent: 20px;
}

.btn-stl {
  font-size: 15px;
  padding: 2px 10px 2px 10px;
  border-radius: 100px;
  margin: 0px 0px 10px 30px;
  font-weight: bold;
  color: #fff;
}

.btn-ok {
  background: #18a04c;
  border: 2px solid #1958bd;
}

.btn-ok:hover {
  background: #1958bd;
  border: 2px solid #1ed564;
}

.btn-cancel {
  background: #d82a2a;
  border: 2px solid #1958bd;
}

.btn-cancel:hover {
  background: #b63f3f;
  color: #000;
  border: 2px solid #1ed564;
}

.btn-center {
  text-align: center;
  width: 30px;
}

thead{
  background: #10a74a;
  color: #fff;
}