/* .dashboard {
    padding: 40px;
}

.container-list {
    background: red;
    margin: 20px;
    padding: 30px;
    height: 400px;
    width: auto;
    padding: 0 auto;
}

table {
    margin: 20 auto;
} */