/* @media all and (min-width: 480px) {
    .Invent {
      padding: 30px 0;
    }

  }
  .green {
    background: #018B36;
    margin: 15px;
  }
  
  .Invent h1 {
    text-align: center;
    font-size: 30px;
    color: #34507e;
  }

  .change {
    display: none;
  }
.change {
  padding: 15px;
} */